@import '_variables';
@import '_mixins';




///////////////////////////////
//          GLOBALS          //
///////////////////////////////

body,
html {
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
}

// Custom Button Size
.btn-xl {
    padding: 1.25rem 2.5rem;
}

// Content Section
.content-section {
    padding-top: 7.5rem;
    padding-bottom: 7.5rem;
}
.content-section-heading h2 {
    font-size: 3rem;
}
.content-section-heading h3 {
    font-size: 1rem;
    text-transform: uppercase;
}

// Typography
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
}

.text-faded {
    color: rgba(#FFF, 0.7);
}

/* Map */

.map {
    height: 30rem;
}

@media (max-width: 992px) {
    .map {
        height: 75%;
    }
}

.map iframe {
    pointer-events: none;
}

// Scroll to top button
.scroll-to-top {
    position: fixed;
    right: 15px;
    bottom: 15px;
    display: none;
    width: 50px;
    height: 50px;
    background: rgba(#343A40, 0.5);
    color: #FFF;
    line-height: 45px;
    text-align: center;
}
.scroll-to-top:focus,
.scroll-to-top:hover {
    color: #FFF;
}
.scroll-to-top:hover {
    background: #343A40;
}
.scroll-to-top i {
    font-weight: 800;
}




///////////////////////////////
//         MASTHEAD          //
///////////////////////////////

.masthead {
    position: relative;
    display: table;
    width: 100%;
    height: auto;
    min-height: 30rem;
    background: linear-gradient(90deg, rgba(#FFF, 0.1) 0%, rgba(#FFF, 0.1) 100%), url('../img/bg-masthead.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 8rem;
    padding-bottom: 8rem;
}
.masthead h1 {
    margin: 0px;
    padding: 0px;
    font-size: 4rem;
}
@media (min-width: 992px) {
    .masthead {
        height: 100vh;
    }
    .masthead h1 {
        font-size: 5.5rem;
    }
}




///////////////////////////////
//          SIDEBAR          //
///////////////////////////////

#sidebar-wrapper {
    position: fixed;
    right: 0px;
    width: 250px;
    height: 100%;
    background: #1D809F;
    border-left: 1px solid rgba(#FFF, 0.1);
    transform: translateX(250px);
    transition: 0.4s ease all;
    z-index: 2;
}

.sidebar-nav {
    position: absolute;
    top: 0px;
    width: 250px;
    margin: 0px;
    padding: 0px;
    list-style: none;
}
.sidebar-nav li.sidebar-nav-item a {
    display: block;
    padding: 15px;
    color: #FFF;
    text-decoration: none;
}
.sidebar-nav li a:hover {
    background: rgba(#FFF, 0.2);
    color: #FFF;
    text-decoration: none;
}
.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}
.sidebar-nav > .sidebar-brand {
    height: 80px;
    background: rgba(52, 58, 64, 0.1);
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    font-size: 1.2rem;
    line-height: 50px;
}
.sidebar-nav > .sidebar-brand a {
    color: #FFF;
}
.sidebar-nav > .sidebar-brand a:hover {
    background: none;
    color: #FFF;
}

#sidebar-wrapper.active {
    right: 250px;
    width: 250px;
    transition: 0.4s ease all;
}

.menu-toggle {
    position: fixed;
    top: 15px;
    right: 15px;
    width: 50px;
    height: 50px;
    background: rgba(52, 58, 64, 0.5);
    color: #FFF;
    line-height: 50px;
    text-align: center;
    z-index: 999;
}
.menu-toggle:focus,
.menu-toggle:hover {
    color: #FFF;
}
.menu-toggle:hover {
    background: #343A40;
}




///////////////////////////////
//         SERVICES          //
///////////////////////////////

.service-icon {
    display: block;
    width: 7rem;
    height: 7rem;
    background-color: #FFF;
    color: #1D809F;
    font-size: 2.25rem;
    line-height: 7.5rem;
    box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.1);
}




///////////////////////////////
//          CALLOUT          //
///////////////////////////////

.callout {
    background: linear-gradient(90deg, rgba(#FFF, 0.1) 0%, rgba(#FFF, 0.1) 100%), url('../img/bg-callout.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 15rem 0px;
}
.callout h2 {
    display: block;
    max-width: 30rem;
    font-size: 3.5rem;
    font-weight: 700;
}




///////////////////////////////
//         PORTFOLIO         //
///////////////////////////////

.portfolio-item {
    position: relative;
    display: block;
    max-width: 530px;
    margin: auto auto 1rem;
    overflow: hidden;
}
.portfolio-item .caption {
    position: absolute;
    top: 0px;
    bottom: 0px;
    display: flex;
    width: 100%;
    height: 100%;
    background-color: rgba(33, 37, 41, 0.2);
    z-index: 1;
}
.portfolio-item .caption .caption-content {
    margin: auto 2rem 2rem;
    color: #FFF;
}
.portfolio-item .caption .caption-content h2 {
    font-size: 0.8rem;
    text-transform: uppercase;
}
.portfolio-item .caption .caption-content p {
    font-size: 1.2rem;
    font-weight: 300;
}
@media (min-width: 992px) {
    .portfolio-item {
        max-width: none;
        margin: 0px;
    }
    .portfolio-item .caption {
        clip-path: inset(0px);
        transition: clip-path 0.25s ease-out, background-color 0.7s;
    }
    .portfolio-item .caption .caption-content {
        margin-right: 5rem;
        margin-bottom: 5rem;
        margin-left: 5rem;
        transition: opacity 0.25s;
    }
    .portfolio-item img {
        clip-path: inset(-1px);
        transition: clip-path 0.25s ease-out;
    }
    .portfolio-item:hover img {
        clip-path: inset(2rem);
    }
    .portfolio-item:hover .caption {
        background-color: rgba(29, 128, 159, 0.9);
        clip-path: inset(2rem);
    }
}




///////////////////////////////
//          FOOTER           //
///////////////////////////////

footer.footer {
    padding-top: 5rem;
    padding-bottom: 5rem;
}
footer.footer .social-link {
    display: block;
    width: 4rem;
    height: 4rem;
    background-color: #1D809F;
    font-size: 1.5rem;
    line-height: 4.3rem;
    box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.1);
    transition: background-color 0.15s ease-in-out;
}
footer.footer .social-link:hover {
    background-color: darken(#1D809F, 10%);
    text-decoration: none;
}




///////////////////////////////
//    BOOTSTRAP-OVERRIDES    //
///////////////////////////////

a {
    color: #1D809F;
}
a:hover,
a:focus,
a:active {
    color: darken(#1D809F, 10%);
}

.btn-primary {
    background-color: #1D809F;
    border-color: #1D809F;
    color: #FFF;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
    background-color: darken(#1D809F, 10%);
    border-color: darken(#1D809F, 10%);
}

.btn-secondary {
    background-color: #ECB807;
    border-color: #ECB807;
    color: #FFF;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary:active {
    background-color: darken(#ECB807, 10%);
    border-color: darken(#ECB807, 10%);
}

.btn-dark {
    color: #FFF;
}

.btn {
    font-weight: 700;
    box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.1);
}

.bg-primary {
    background-color: #1D809F;
}

.text-primary {
    color: #1D809F;
}

.text-secondary {
    color: #ECB807;
}

